@import url(http://allfont.ru/allfont.css?fonts=pt-sans);
body{
  margin:0;
  padding:0;
}
*{
  font-family: 'PT Sans', arial;
}
.all{
  width:100%;
}
.header{
  background:#f1f4fa;
  padding: 32px 0;
  .imgLink{
    text-decoration:none;
    color:#46ccd6;
    cursor: pointer;
    .underline{
      text-decoration:underline;
      vertical-align:middle;
      text-transform:uppercase;
    }
    img{
      vertical-align:middle;
    }
  }
}
nav{
  padding-bottom:6px;
}
#link_1{
  padding-left: 82px;
  img{
    margin-top: -2px;
  }
  .underline{
    padding-left: 4px;
    letter-spacing: -0.04em;
  }
}
#link_2{
  margin-left: 37px;
  .underline{
    padding-left: 5px;
    letter-spacing: -0.04em;
  }
}
#link_3{
  margin-left: -83px;
  margin-top: -3px;
  .underline{
    padding-left: 2px;
    line-height: 30px;
    letter-spacing: -0.04em;
  }
}
.info{
  background:#fdc72b;
  margin-top: 38px;
  .container{
    &:before{
      position: absolute;
      content: "";
      border: 20px solid transparent;
      border-bottom: 20px solid #fdc72b;
      margin-top: -40px;
      margin-left: 113px;
    }
  }
  .close{
    margin-top: 18px;
    text-align: right;
    padding: 0;
    img{
      cursor: pointer;
    }
  }
  #basket{
    padding:0;
    img{
      margin-left:67px;
      margin-top: 10px;
    }
    span{
      display: inline-block;
      width: 201px;
      vertical-align: middle;
      margin-top: 4px;
      font-size: 13pt;
      padding-left: 10px;
      line-height: 23px;
      letter-spacing: 0.02em;
    }
  }
  #calendar{
    padding:0;
    img{
      margin-top: 10px;
      margin-left: 79px;
    }
    span{
      display: inline-block;
      width: 159px;
      padding-left: 7px;
      font-size: 1.12em;
      line-height: 34px;
    }
  }
  #map{
    padding:0;
    img{
      margin-left: 22px;
      margin-top: -8px;
    }
    span{
      display: inline-block;
      width: 186px;
      font-size: 1.12em;
      padding-left: 13px;
      vertical-align: middle;
      margin-top: -24px;
    }
  }
  #bottomText{
    padding: 0;
    margin-left: -10px;
    margin-top: 27px;
    font-size: 1.12em;
    width: 1157px;
    margin-bottom: 19px;
  }
}
.content{
  margin-top: 49px;
  .links{
    padding:0;
    span{
      color: #ed6a97;
      padding: 0;
      text-transform: uppercase;
      margin-left: -15px;
    }
    a{
      text-decoration: none;
      float: right;
      margin-right: -15px;
      color: #6ac8ca;
      cursor: pointer;
    }
  }
  .bigblocks{
    padding:0;
    margin-top: 12px;
    margin-left: -15px;
    width: 1200px;
    margin-bottom: 17px; 
  }
  .smallblocks{
    padding:0;
    margin-top:10px;
    margin-left:-15px;
    width:1200px;
  }
  .purple{
    color:#ed1261;
  }
  .block{
    &.big{
      padding:0;
    }
    &.small{
      padding:0;
      border:1px solid #e1e1e1;
      width:280px;
      height:273px;
      margin-right:20px;
      margin-bottom:19px;
      .bottomText{
        font-size: 12px;
        display: block;
        letter-spacing: 0.01em;
        line-height: 24px;
        margin-top: 81px;
        margin-left: 64px;
      }
      &:nth-child(4n - 2){
        .bottomText{
          margin-top: 70px;
          margin-left: 59px;
        }
      }
      &:nth-child(4n - 3){
        .blockContent{
          .toptext{
            font-size: 12px;
            display: inline-block;
            margin-top: -9px;
            margin-left: 26px;
          }
          .middletext{
            display: block;
            font-size: 12px;
            margin-left: 56px;
            margin-top: 8px;
            letter-spacing: 0.02em;
            line-height: 24px;
            padding-right: 44px;
          }
          .bottomLink{
            float: right;
            margin-right: 15px;
            margin-top: 23px;
            img{
              margin-right:6px;
            }
            a{
              color: #ed1261;
              font-size: 12px;
              vertical-align: top;
            }
          }
        }
      }
      &:nth-child(4n){
        margin-right:0;
      }
      .like{
        margin-top: 6px;
        margin-right: 6px;
        float: right;
      }
      .logo{
        &.small{
          margin-left: 43px;
          margin-top: 4px;
        }
        &.big{
          margin-top: 87px;
          margin-left: 65px;
          &.two{
            margin-top: 64px;
            margin-left: 58px;
          }
          &.three{
            margin-top: 68px;
            margin-left: 46px;
          }
        }
      }
    }
  }
}
.popup{
  background: #f1f4fa;
  padding-top: 54px;
  padding-bottom: 54px;
  margin-bottom: 20px;
  display:none;
  &:target{
    display:block;
  }
  .close{
    position: absolute;
    right: 0;
    top: -30px;
  }
  .container{
    position:relative;
  }
}
#contentBlockFirst{
  img{
    &:nth-child(1){
      margin-top: -9px;
      margin-left: -9px;
    }
    &:nth-child(2){
      display: block;
      float: left;
      margin-top: -2px;
      margin-left: -24px;
    }
    &:nth-child(3){
      float: right;
      margin-top: 11px;
      margin-right: 28px;
      cursor:poiner;
    }
  }
  .liner{
    clear:both;
    a{
      float:left;
      margin-top: 12px;
      margin-left: -10px;
      color:#6ac8ca;
      text-decoration:none;
    }
    .cube{
      cursor:pointer;
      float: right;
      width: 19px;
      height: 20px;
      margin-right: 27px;
      margin-top: 13px;
      text-align: center;
      color: #fff;
      background: #71c5d0;
    }
  }
  &:before{
    position: absolute;
    content: "";
    border: 20px solid transparent;
    border-bottom: 20px solid #f1f4fa;
    margin-top: -94px;
    margin-left: 104px;
  }
}
#contentBlockSecond{
  .contentBlockHeader{
    margin-top: -8px;
    margin-left: 43px;
    font-size: 14px;
  }
  .contentBlockBody{
    .big{
      display: block;
      margin-top: 26px;
      font-size: 29px;
      margin-left: 42px;
    }
    .small{
      display: block;
      margin-top: 10px;
      margin-left: 43px;
      font-size: 18px;
      width: 403px;
      line-height: 24px;
    }
  }
}
#contentBlockEnd{
  float: right;
  padding-right: 0;
  img{
    margin-top: 45px;
    float: left;
    margin-left: 29px;
    cursor:pointer;
  }
  .description{
    margin-top: 45px;
    margin-left: 61px;
    font-size: 18px;
    line-height: 16px;
    span{
      &:nth-child(2){
        display: inline-block;
        margin-top: 8px;
        font-size: 16px;
      }
    }
  }
  .form{
    margin-top: 47px;
    span{
      margin-left: 28px;
    }
    input{
      display: block;
      margin-top: 7px;
      margin-left: 28px;
      background: none;
      border: none;
      border-bottom: 2px solid #71c5d0;
      padding-bottom: 6px;
      width: 239px;
      font-size: 19px;
    }
    a{
      &:nth-child(3){
        text-decoration: none;
        font-size: 12px;
        display: inline-block;
        margin-top: 7px;
        margin-left: 28px;
        color: #6ac8ca;
      }
      &:nth-child(4){
        display: block;
        margin-top: 22px;
        text-align: center;
        width: 240px;
        height: 33px;
        text-decoration: none;
        margin-left: 29px;
        color: #FFF;
        line-height: 32px;
        background: #ff80ab;
      }
    }
  }
}
.message{
  position: absolute;
  background: #fff;
  border: 1px solid #bdbdbd;
  left: -385px;
  top: 45px;
  width: 407px;
  height: 253px;
  padding-top: 22px;
  padding-left: 35px;
  display:none;
  .messageTitle{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }
  .messageText{
    font-size: 12px;
    width: 345px;
    .purple{
      font-weight:bold;
    }
  }
  &:before{
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-left: 10px solid #bdbdbd;
    border-top: 10px solid #bdbdbd;
    right: -21px;
    top: -1px;
  }
  &:after{
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-left: 10px solid #FFF;
    border-top: 10px solid #FFF;
    right: -19px;
    top: 0px;
  }
}